<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>TodoApp</title>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1>TodoApp</h1>
        <h4>Organize Your Life</h4>
        <br>
      </header>
