<% include ../views/partials/header %>
<div class="row">
  <div class="col-md-5">
    <form action="/todo/add" method="post">
      <div class="form-group">
        <label for="text">Todo Name</label>
        <input class="form-control" type="text" name="text" placeholder="Add Todo">
      </div>
      <div class="form-group">
        <label for="body">Todo Body</label>
        <textarea class="form-control" name="body" placeholder="Add Body"></textarea>
      </div>
      <br>
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-7">
    <ul class="list-group">
      <% todos.forEach(function(todo) { %>
        <li class="list-group-item"><%= todo.text %> - <%= todo.body %>
          <a  class="btn btn-primary" href="/todo/edit/<%= todo._id %>" >Edit</a>
          <a  data-id="<%= todo._id %>" href="#" class="delete-todo btn btn-danger">Delete</a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>


  <div class="modal" id="getCodeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="getCode">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% include ../views/partials/footer %>
